.add-box {
    background: #5d348a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;

    input {
        padding: 7px 13px;
        width: 100%;
        border: none;
        border-radius: 4px;
        font-family: Vazir;
    }
}

.shopping-list {
    height: calc(100% - 150px);
    overflow: scroll;
    
    ul {
        list-style-type: none;
        padding: 15px;
    }
}