.add-box {
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;

    background: #8027b8;

    input {
        padding: 7px 13px;
        width: 100%;
        border: none;
        border-radius: 4px;
        font-family: Vazir;
    }
}

.shopping-list {
    width: 100%;
    height: calc(100% - 74px - 60px);
    top: 74px;
    overflow: scroll;
    
    ul {
        list-style-type: none;
        padding: 15px;
        margin: 0px;
    }
}