.navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(#fff, #dfdfdf);

    & > div {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .massenger-icon {
        width: 1.4em;
        height: 1.4em;
    }

    .setting-icon {
        width: 1.3em;
        height: 1.3em;
    }
}