.navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(#fff, #dfdfdf);

    a {
        width: 33%;
        text-decoration: none;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #777;
        }
    }

    .list-icon {
        color: #920000;
    }

    .messenger-icon {
        width: 1.4em;
        height: 1.4em;
        color: #004b98;
    }

    .setting-icon {
        width: 1.3em;
        height: 1.3em;
        color: #008c00;
    }
}